HELP.md
.gradle/
build/
gensrc/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IDEs ###
## IntelliJ IDEA ##
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

## VS Code ##
.vscode/

### Kotlin ###
.kotlin

### Temporary files ###
dashboard-definition.json

### Credentials ###
**/*.private.env.json
